{% extends 'layouts/main.html' %}
{% block title %}Show Search{% endblock %}
{% block content %}

    <div class="page-header">
        <h1>Fyyur Search!</h1>
    </div>
    <p class="lead"> Show Search </p>

    <ul class="nav nav-pills">
        <li class="active"><a>Shows</a></li>
    </ul>
    <form class="search" method="post" action="/venues/search">
        <input class="form-control"
          type="search"
          name="search_term"
          placeholder="Find a venue"
          aria-label="Search">
    </form>
{#    Todo implement show search frontend #}

{% endblock %}